@import url("https://fonts.googleapis.com/css?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --main-bg: #343d46;
  --color-light: #f7f4f4;
  --color-light-gray: #a7adba;
  --color-title: #6a7687;
  --color-steal-blue: #9dc1d9;
  --details-light-blue: #bee0ea;
  --base: #2b498b;
  --dark-font-color-title: #173f5f;
  --nave-light-blue: #20639b;
  --teal-green: #3caea3;
  --farting-yellow: #f6d55c;
  --laranja-orange: #ed553b;
  --light-font-color: #e5f2fc;
  --light-font-color-title: #c9dded;
  --gray-neutral-color: #63717d;
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  background: white;
  color: var(--base);
  font-family: "helvetica neue", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*******************************
*  START - Navigation Style    
*******************************/

header {
  z-index: 100;
}
.navbar {
  height: 30px;
  background-color: var(--main-bg);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid var(--farting-yellow);
  padding: 20px !important;
  z-index: 20;
  z-index: 100;
}

.navbar img {
  width: 25px;
  height: auto;
  z-index: 100;
}
.navbar a {
  text-decoration: none;
  color: var(--color-light);
  letter-spacing: 1px;
  padding: 20px;
  font-size: 1rem;
  font-family: "Muli", sans-serif;
  z-index: 100;
}
.navbar a:hover {
  color: var(--farting-yellow);
}

.navbar-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

/*******************************
*    END - Navigation Style    
*******************************/

/*******************************
*    Main Container Style
*******************************/

.container {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

html {
  color: black;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

h1 {
  font-family: "Shadows Into Light Two", cursive;
  text-shadow: 10px 10px 0 rgba(0, 0, 0, 1);
  font-size: 100px;
  letter-spacing: 10px;
}

/*******************************
*     Footer and SVG
*******************************/

footer {
  font-family: "Shadows Into Light Two", cursive;
  min-height: 30vh;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  margin-top: auto;
  background-color: var(--nave-light-blue);
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 15px;
}

footer span {
  color: var(--farting-yellow);
}
footer img {
  width: 90px;
  height: auto;
}

footer .info-Bruno {
  width: 70%;
  padding: 20px;
  text-align: center;
}

.info-Bruno p {
  color: var(--light-font-color-title);
  font-size: 1.8rem;
}

.info-Bruno a {
  color: var(--light-font-color-title);
  padding: 10px;
}

.info-Bruno a:hover {
  color: var(--farting-yellow);
}
